.content-books-container {
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(4, 24%);
    border: aqua 1px solid;
    gap: 10px;
}

@media only screen and (min-width: 800px) {
    .content-books-container {
        grid-template-columns: repeat(4, 1fr);
    }
}


@media only screen and (min-device-width: 600px) and (max-device-width: 800px) {
    .content-books-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-device-width: 450px) and (max-device-width: 600px) {
    .content-books-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

.book {
    display: flex;
    gap: 5px;
    border: gray solid 1px;
}

.book-img-container {
    margin: 0 0 0 5px;
    flex: 0 0 40%;
    height: auto;
    width: 100px;
    display: flex;
    align-items: center;
}

.book-img-container img {
    width: 100%;
}

.book-info {
    flex: 0 0 50%;
    text-align: center;
}

.book-info-title {
    font-weight: bold;
    font-size: 1em;
}

.book-info-title a {
    color: black;
}

.book-info-author {
    font-size: .8em;
}

.book-info-author a {
    color: black;
}