<form id="book-update-form">
    <div>
        <label for="book-name">Name</label>
        <input type="text" id="book-name" name="name">
    </div>
    <div>
        <label for="book-genre-1">Genres</label>
        <select name="book-genre-1" id="book-genre-1"></select>
    </div>
    <div>
        <button type="button" id="book-update-btn">Update</button>
    </div>
</form>
<div id="errors">
</div>

<script src="/src/genres/fillGenresDropdown.js" type="module"></script>
<script src="/src/books/create/createBookBtn.js" type="module"></script>
