<!DOCTYPE html>
<html lang="en">
<head>
  <title>Authors</title>
  <link rel="stylesheet" href="../css/authors.css">
  <%- include('head.ejs') -%>
</head>
<body>
<%- include('header/header.ejs') -%>
<main>
  <div class="content">
    <%- include('content-search.ejs') -%>
    <div class="authors-container" id="authors-container"></div>
  </div>
</main>

<%- include('footer.ejs') -%>
<script type="module" src="../src/authors/fetchingAuthors/fetchAuthors.js"></script>
</body>
</html>
