<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <%- include('head.html') -%>
</head>
<body>
    <%- include('header.html') %>

    <div class="content">
        <h1>NOT IMPLEMENTED</h1>
        <div class="book">
            <input type="hidden" id="author-id" value="<%= author.id %>" >
            <img src="" alt="" id="author-img">
        </div>
        <p><%= author.details.name %></p>
        <p><%= author.details.biography %></p>

    </div>

    <%- include('footer.html') -%>
</body>
</html>