<div class="content-search">
  <p>search</p>
  <div class="context-search-input">
    <form action="">
      <label>
        <input type="text">
      </label>
    </form>
    <button>S</button>
  </div>
</div>
