<!DOCTYPE html>
<html lang="en">
<head>
    <title>publishers</title>
    <%- include ('head.ejs') -%>
    <link rel="stylesheet" href="/css/publishers.css">
</head>
<body>
    <%- include ('header/header.ejs') -%>
    <div class="content">
        <%- include ('content-search.ejs') -%>
        <div class="publishers-container" id="publishers-container"></div>
    </div>
    <%- include ('footer.ejs') -%>
    <script type="module" src="/src/publishers/fetchingPublishers/fetchPublishers.js"></script>
</body>
</html>