<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <%- include('head.html') -%>
    <link rel="stylesheet" href="../css/single-book.css">
</head>
<body>
    <%- include('header.html') %>

    <div class="content">
        <div class="single-book">
            <input type="hidden" id="book-id" value="<%= book.id %>" >
            <div class="single-book-title">
                <div class="single-book-title-name">
                    <p><%= book.name %></p>
                </div>
                <div class="single-book-title-authors">
                    <ul>
                        <% book.authors.forEach(function (author) {  %>
                        <li><a href="/authors/<%= author.id %>"><%= author.details.name %></a></li>
                        <% }); %>
                    </ul>
                </div>
                <div class="single-book-title-genres">
                    <ul>
                        <% book.genres.forEach(function (genre) {  %>
                        <li><%= genre.details.name %></li>
                        <% }); %>
                    </ul>
                </div>
            </div>
            <div class="single-book-img">
                <img src="" alt="" id="book-img">
            </div>
            <div class="single-book-info-short-description">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <div class="single-book-info">
                <div class="single-book-info-item">
                    <span class="item-title">ISBN</span>
                    <span class="item-value"><%= book.isbn %></span>
                </div>
                <div class="single-book-info-item">
                    <span class="item-title">Publisher</span>
                    <span class="item-value"><a href="/publishers/<%= book.publisher.id %>"><%= book.publisher.details.name %></a></span>
                </div>
                <div class="single-book-info-item">
                    <span class="item-title">Amount</span>
                    <span class="item-value"><%= book.bookAmount %></span>
                </div>
                <div class="single-book-info-item">
                    <span class="item-title">Rating</span>
                    <span class="item-value"><%= book.bookRating %></span>
                </div>
                <div class="single-book-info-item">
                    <span class="item-title">Published</span>
                    <span class="item-value"><%= book.datePublished %></span>
                </div>
            </div>
        </div>
    </div>

    <%- include('footer.html') -%>

    <script type="module">
        const uriCover = "http://127.0.0.1:8080/api/books/cover/";
        const bookIdEl = document.getElementById("book-id");
        const imageEl = document.getElementById("book-img");
        let image;
        try {
            const response = await fetch(uriCover + bookIdEl.value);
            if(!response.ok) {
                image = "/public/empty_cover.png";
            } else {
                const blob = await response.blob();
                image = URL.createObjectURL(blob);
            }
        } catch (e) {
            console.error(e);
        }

        imageEl.src = image;
    </script>
</body>
</html>