<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <%- include('head.html') -%>
    <link rel="stylesheet" href=../css/books.css>
    <link rel="stylesheet" href=../css/single-author.css>
</head>
<body>
    <%- include('header.html') %>

    <div class="content">
        <%- include ('content-search.html') -%>
        <div class="author-title">
            <input type="hidden" id="author-id" value="<%= author.id %>" >
            <div class="author-title-name">
                <p><%= author.details.name %></p>
            </div>
            <div class="author-title-biography">
                <p><%= author.details.biography %></p>
            </div>
        </div>
        <div class="content-books-container" id="books-container"></div>
    </div>

    <%- include('footer.html') -%>
    <script type="module" src="../src/books/fetchingBooks/fetchAllBooksByAuthor.js"></script>
</body>
</html>