<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<div class="registration-form">
    <form action="" id="registration-form">
        <label for="user-email"></label>
        <input type="text" id="user-email" name="email" required>
        <label for="user-password"></label>
        <input type="password" id="user-password" name="password" required>
        <button type="button" id="submit-button">Login</button>
    </form>
    <script type="module" src="/src/authorization/registration.js"></script>
</div>
</body>
</html>