<%- include('../head.ejs') -%>
<%- include('../header.ejs') -%>
<%- include('../content-search.ejs') -%>

<div class="content">
    <div class="authors-container" id="authors-container"></div>
    <script type="module" src="../../src/authors/fetchingAuthors/fetchAuthors.js"></script>
</div>

<%- include('../footer.ejs') -%>
