<div class="select-tools">
    <button type="button" id="select-managment-choose-btn">Select</button>
    <span class="select-managment-count-label select-managment-tools">0/0</span>
    <button type="button" id="select-managment-delete-btn" class="select-managment-tools">Delete</button>
    <button type="button" id="select-managment-discard-btn" class="select-managment-tools">Discard</button>
</div>
<div class="authors-container" id="authors-container"></div>
<script type="module" src="/src/authors/fetchingAuthors/fetchAuthors.js"></script>
<script type="module" src="/src/select_managment/chooseAuthors.js"></script>
